<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/admin/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/admin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/admin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Datatable Stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <!-- Customized Bootstrap Stylesheet -->
    <link href="/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/admin/css/style.css" rel="stylesheet">
</head>
<style>
    .order-list table {
	border-collapse: collapse;
  margin-bottom: 30px;
}
.order-list table thead tr{
	color: #000;
}
.order-list table tbody tr{
	color: #777;
	border-top: 1px solid #eee;
}
.order-list table td{
	padding: 10px 0px;
}
.order-list table img{
	max-width: 40px;
	max-height: 40px;
}
.order-list table input[type="checkbox"]{
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
}
.order-list table label{
	position: relative;
	margin-left: 15px;
	font-family: 'Font Awesome 5 Free';
}
.order-list table label::before{
	content: '';
	position: absolute;
	top:-3px;
	left: -25px;
	width: 20px;
	height: 20px;
	border: 1px solid #ddd;
}
.order-list table input[type="checkbox"]:checked + label::after{
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
  font-size: 11px;
  text-align: center;
  line-height: 20px;
	content: "\f00c";
	position: absolute;
	top: -2px;
	left: -24px;
	width: 20px;
	height: 20px;
	color: #fff;
	background-image: linear-gradient(90deg, #41389e, #7822a0);
  box-shadow: 2px 2px 8px #41389e;
}
.order-list table input[type="checkbox"]:checked + label{
	color: #000;
}
.order-list .show,
.order-list .page{
	width: 50%;
	float: left;
	color: #888;
}
.order-list .page{
	text-align: right;
}
/* Start My Fram Work */
.width-1{
  width: 10%;
  padding-left: 10px;
  padding-right: 10px;
}
.width-2{
  width: 20%;
  padding-left: 10px;
  padding-right: 10px;
}
.width-3{
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
}
.width-4{
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
}
.width-5{
  width: 50%;
  padding-left: 10px;
  padding-right: 10px;
}
.width-6{
  width: 60%;
  padding-left: 10px;
  padding-right: 10px;
}
.width-7{
  width: 70%;
  padding-left: 10px;
  padding-right: 10px;
}
.width-8{
  width: 80%;
  padding-left: 10px;
  padding-right: 10px;
}
.width-9{
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}
.width-10{
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}
.no-padding-left{
  padding-left: 0px;
}
.no-padding-right{
  padding-right: 0px;
}
.radius-4{
  border-radius: 4px;
}
.radius-6{
  border-radius: 6px;
}
.no-border{
  border: none;
}
.but{
  font-weight: bold;
  cursor: pointer;
  color: #2ce5c0;
  border: none;
}
.but-con{
  padding: 5px 10px;
  background-color: blue;
  color: #fff;
  border: none;
  cursor: pointer;
}

.but-pen{
  padding: 10px 25px;
  background-color: #ffb74d;
}
.stamp{
  border: 1px solid #eee;
  text-align: center;
  padding: 5px 14px;
  display: inline-block;
  margin: auto;
  border-radius: 6px
}
.but-pre{
  background-color: transparent;
  color: #888;
  border: none;
  cursor: pointer;
}
.but-pag{
  background-color: #41389e;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.status-pending {
  color: black;
}

.status-delivered {
  color: green;
}

.status-processing {
  color: #ffb700;
}

.status-shipped {
  color: blue;
}
/* End My Fram Work */
</style>
<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Sidebar Start -->
        <%- include('../partials/adminSideBar') %>
        <!-- Sidebar End -->
       
        <!-- Content Start -->
        <div class="content">

            <!-- Navbar Start -->
            <%- include('../partials/adminNav') %>
            <!-- Navbar End -->

            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                   
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Order List</h6>
                    </div>
                    <div class="table-responsive">
                        <table id="userTable" class="table width-10">
                            <thead>
                              <tr>
                                <td>
                                  No
                                </td>
                                <td>
                                  <label for="inv">Order</label>
                                </td>
                                <td>
                                  Customer
                                </td>
                                <td>
                                  Payment
                                </td>
                                <td>
                                  Quantity
                                </td>
                                <td>
                                  Amount
                                </td>
                                <td>
                                 Date
                                </td>
                                <td>
                                  Status
                                </td>
                                <td>
                                  Action
                                </td>
                                <td>
                                  Details
                                </td>
                              </tr>
                            </thead>
                            <tbody>
                              <%orderData.forEach(function(order,index){%>
                              <tr>
                                <td>
                                  <label for="num1"><%=index+1%></label>
                                </td>
                                
                                <td>
                                  <%=order._id%>
                                </td>
                                <td>
                                  <%=order.userName%>
                                </td>
                                <td>
                                  <%=order.paymentMethod%>
                                </td>
                                <td>
                                  <%=order.totalQuantity%>
                                </td>
                                <td>
                                  <%=order.totalPrice%>
                                </td>
                                <td>
                                  <span> <%
                                    var date = new Date(order.dateOrdered);
                                    var formattedDate = date.getFullYear() + '-' + 
                                        ('0' + (date.getMonth() + 1)).slice(-2) + '-' + 
                                        ('0' + date.getDate()).slice(-2);
                                %>
                                <%= formattedDate %></span>
                                </td>
                                <td>
                                  <span class="radius-4 <%= order.status === 'Pending' ? 'status-pending' : '' %>
                                    <%= order.status === 'Delivered' ? 'status-delivered' : '' %>
                                    <%= order.status === 'Processing' ? 'status-processing' : '' %>
                                    <%= order.status === 'Shipped' ? 'status-shipped' : '' %>"><%= order.status %>

                                    <%order.productItems.forEach(function(product){%>
                                      <%if(product.status === "Return Requested"){%>
                                         <span style="font-size: 0.5em;" class="badge badge-secondary bg-danger">Request found</span>
                                       <%}%>
                                       <%})%>  </span>
                                    
                                </td>
                                
                                <td>
                                  <% if (['Return Requested', 'return request accepted','return requested','Return Request Accepted', 'return request rejected','Cancelled','product returned'].includes(order.status)) { %>
                                      <a href="" class="text-danger">
                                          <%= order.status %>
                                      </a>
                                      <% }else if(order.status === 'Delivered'){ %>
                                          <p>Delivered</p>
                                      <% }else{ %>
                                  <select name="status" data-order-id="<%= order._id %>"
                                       onchange="updateStatus(this)">
                                      <% const statuses=['Pending', 'Processing' , 'Shipped' , 'Delivered' ]; %>
                                          <% statuses.forEach(status=> { %>
                                              <option value="<%= status %>" <%=order.status===status
                                                  ? 'selected' : '' %>><%= status %>
                                              </option>
                                              <% }) %>
                                              <% } %>
                                  </select>
                              </td>
                                <td>
                                  <button class="but2 but-con radius-4"><a style="text-decoration: none; color: #fff;" href="/admin/order-view/<%=order._id%>">view</a></button>
                                </td>
                              </tr>
                              <%})%>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->


            <!-- Footer Start -->
            <!-- Footer End -->
        </div>
        <!-- Content End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/admin/lib/chart/chart.min.js"></script>
    <script src="/admin/lib/easing/easing.min.js"></script>
    <script src="/admin/lib/waypoints/waypoints.min.js"></script>
    <script src="/admin/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/admin/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- DataTables JS CDN -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    
    <!-- Template Javascript -->
    <script src="/admin/js/main.js"></script>
    
    <script>
        // Product bolck and unblock
        function updateStatus(selectElement) {
          const orderId = selectElement.getAttribute('data-order-id');
          const status = selectElement.value;
          console.log("orderid",orderId);
          console.log("stus",status);
        // Show SweetAlert confirmation dialog
        Swal.fire({
          title: "Are you sure?",
          text: "You want to change the status!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, change it!",
        }).then((result) => {
          if (result.isConfirmed) {
            console.log("ajax working");
            $.ajax({
              url: "/admin/order/orderStatus",
              method: "post",
              contentType: "application/json",
              dataType: "json",
              data: JSON.stringify({ orderId, status }),
              success: function (res) {
                Swal.fire({
                  text: res.msg,
                  icon: "success",
                  timer: 1000,
                  showConfirmButton: false,
                });
                console.log("loggggggg");
                setTimeout(() => {
                window.location.reload();
                }, 800);
              },
              error: function (err) {
                Swal.fire({
                  text: "Something went wrong",
                  icon: "error",
                  timer: 3000,
                  showConfirmButton: false,
                });
                console.log(err);
              },
            });
          }
        });
      }

        $(document).ready(function () {
        $("#userTable").DataTable();
      });
    </script>


</body>

</html>