<!-- Header Section Begin -->
<%- include('../partials/userHeader') %>
<!-- Header Section End -->

<style>
    .list-group-item.active {
      background: #ffc107;
    }
    /* end common class */
    .top-status ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      justify-content: center;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
    }
    .top-status ul li {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      border: 8px solid #ddd;
      box-shadow: 1px 1px 10px 1px #ddd inset;
      margin: 10px 5px;
    }
    .top-status ul li.active {
      border-color: #06c167;
      box-shadow: 1px 1px 20px 1px #ffc107 inset;
    }
    /* end top status */
    
    ul.timeline {
      list-style-type: none;
      position: relative;
    }
    ul.timeline:before {
      content: " ";
      background: #d4d9df;
      display: inline-block;
      position: absolute;
      left: 29px;
      width: 2px;
      height: 100%;
      z-index: 400;
    }
    ul.timeline > li {
      margin: 20px 0;
      padding-left: 30px;
    }
    ul.timeline > li:before {
      content: "\2713";
      background: #fff;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 0;
      left: 5px;
      width: 50px;
      height: 50px;
      z-index: 400;
      text-align: center;
      line-height: 50px;
      color: #d4d9df;
      font-size: 24px;
      border: 2px solid var(--ogenix-primary);
    }
    ul.timeline > li.active:before {
      content: "\2713";
      background: #28a745;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 0;
      left: 5px;
      width: 50px;
      height: 50px;
      z-index: 400;
      text-align: center;
      line-height: 50px;
      color: #fff;
      font-size: 30px;
      border: 2px solid var(--ogenix-primary);
    }
    /* end timeline */
    
        
        .list-group-item.active {
          background: #06C167 !important;
        }
    
        .bg-warning {
          background: #06C167 !important;
        }
    
        .modal-content {
          background-color: #fefefe;
          margin: 4% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 70%;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          transition: transform 0.3s ease-in-out;
          /*transform: translateY(-100%);*/
        }
    
        .close {
          float: right;
          text-align: right;
          font-size: 30px;
        }
    
        .modal-content h2 {
          text-align: center;
          margin-top: -35px;
        }
    
        .button_div {
          justify-content: center;
          text-align: center;
        }
    
        .button_div button {
          margin-right: 10px;
          background: #06C167;
          border: 1px solid #06C167;
          padding: 5px 15px;
          color: #FFFFFF;
          border-radius: 2px;
        }
    
        #addAddressForm input {
          padding: 5px;
        }
    
        .nice-select {
          padding: 0px !important;
          height: 38px !important;
          line-height: 38px !important;
        }
    
        .add_address_button {
          background: #06C167;
          border: 1px solid #06C167;
          padding: 5px 15px;
          color: #FFFFFF;
          border-radius: 2px;
          width: 130px;
          margin-right: 21px;
          
        }
        .add_profile_button {
          background: #06C167;
          border: 1px solid #06C167;
          padding: 5px 15px;
          color: #FFFFFF;
          border-radius: 2px;
        }
  
        .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
        @media (max-width: 768px) {
          .main_flex_div {
            display: flex;
            flex-direction: column;
          }
    
          .inner_flex_div {
            min-width: 100% !important;
          }
    
          .modal-content {
            padding: 10px 0px !important;
            min-width: 95% !important;
            height: 700px;
            overflow: scroll;
          }
    
          .close {
            margin-right: 10px;
          }
        }
      </style>

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <a href="/shopping-cart">Shopping Cart</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form id="checkOutForm">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div id="addressBook" class="card" >

                                <div  class="card-body">
                                  <h5 style="margin: 10px; font-size: 25px; font-weight: 700;">Shipping Address</h5>
                                  <div class="d-flex justify-content-end">
                                      <button class="add_address_button" type="button"><a style="text-decoration: none; color: #fff;" href="/add-address">Add Address</a></button>
                                  </div>
                                </div>
                  
                  
                                <div class="card-body mt-3">
                                  <ul class="list-group">
                                    <% userAddress.forEach(function(add, index){%>
                                    <li class="list-group-item d-flex justify-content-between">
                                      <div class="col-8">
                                        <input class="form-check-input me-1" type="radio" name="address" value="<%= add._id %>" id="address<%= index %>" <%= index === 0 ? 'checked' : '' %>>
                                      <label class="form-check-label" for="address<%= index %>"><%= add.name %></label>
                                     
                                      <h6> <%= add.address %></h6>
                                      <h6> <%= add.mobile%></h6>
                                      </div>
                                      <div class="col-2">
                                        <a class="btn btn-sm btn-primary" href="/address/<%= add._id %>">Edit</a>
                                      </div>
                               
                                        <div class="col-2 text-center">
                                          <a>
                                            <button
                                            class="btn btn-sm btn-danger"
                                              type="button"
                                              onclick="block_unblock('<%= add._id %>')"
                                            >
                                              Delete
                                            </button>
                                          </a>
                                        </div>
                                   
                                    </li>
                                    <%})%>
                                  </ul>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product <span>Total</span></div>
                                <ul class="checkout__total__products">
                                    <% userCart.forEach(function(product,index){ %>
                                    <li><%= index + 1%>. <%=product.productId.name%><em style="padding-left: 70px;font-size: 12px;"><%=product.quantity%> x ₹<%=product.productId.price%></em><span>₹<%=product.productId.price * product.quantity%></span></li>
                                    <%})%>
                                </ul>
                                <ul class="checkout__total__all">
                                    <li>Subtotal <span>₹<%=subTotal%></span></li>
                                    <li>Delivery Fee <span>Free <s>₹80</s></span></li>
                                    <li>Total <span id="totalAmt">₹<%=totalPrice%></span></li>
                                </ul>

                                <div class="checkout__input__checkbox">
                                  <!-- <label for="COD">
                                    Cash On Delivery
                                    <input type="radio" id="payment" name="payment" value="COD">
                                    <label class="form-check-label" for="COD"></label>
                                </label> <label for="razorpay" >
                                  Razorpay
                                  <input type="radio" name="payment" value="razorpay">

                              </label> <label for="wallet">
                                Wallet
                                <input type="radio" id="payment" name="payment" value="Wallet">
                                <span class="checkmark"></span>
                            </label> -->
                              
                                <input  class="form-check-input me-1" type="radio" id="COD" name="payment" value="COD">
                                <label class="form-check-label" for="COD">COD</label>

                                <input class="form-check-input me-1" type="radio" name="payment" value="razorpay" id="razorpay" >
                                <label class="form-check-label" for="razorpay">Razorpay</label>

                                <input class="form-check-input me-1" type="radio" name="payment" value="Wallet" id="wallet" >
                                <label class="form-check-label" id="walletBalace" data-balance="" for="wallet">Wallet </label>
                                     
                                    <div class="error-message" id="confirmCheckoutError"></div>
                                </div>
                                
                                <input type="hidden" name="cart" value='<%= JSON.stringify(userCart.products) %>'>
                                <input type="hidden" id name="totalPrice" value="<%= totalPrice %>">
                                
                                <button type="submit" id="placeOrderBtn" class="site-btn">PLACE ORDER</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

    <!--toast-->
    <!-- Include Toastr CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>

<!-- Include Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<!-- Custom showErrorToast Function -->
<script>
  function showErrorToast(message) {
    toastr.error(message, "Error", {
      closeButton: true,
      progressBar: true,
      positionClass: "toast-top-right",
      timeOut: "5000",
      extendedTimeOut: "1000",
      showMethod: "slideDown",
      hideMethod: "slideUp"
    });
  }
</script>


    <script>
        // address delete
      function block_unblock(id) {
        console.log(id, "ggygygy");
        // Show SweetAlert confirmation dialog
        Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, Delete it!",
        }).then((result) => {
          if (result.isConfirmed) {
            console.log("ajax working");
            $.ajax({
              url: "/deleteAddress/" + `${id}`,
              method: "patch",
              success: function (res) {
                Swal.fire({
                  text: res.msg,
                  icon: "success",
                  timer: 3000,
                  showConfirmButton: false,
                });
                console.log("loggggggg");
                setTimeout(() => {
                  window.location.reload();
                }, 1000);
              },
              error: function (err) {
                Swal.fire({
                  text: "Something went wrong",
                  icon: "error",
                  timer: 3000,
                  showConfirmButton: false,
                });
                console.log(err);
              },
            });
          }
        });
      }
    </script>

<!-- <script>
  function validateChekout(event){
      var paymentCheckbox = document.getElementById('payment');
      if (!paymentCheckbox.checked) {
          confirmCheckoutError.textContent = 'Please select the payment method.';
          confirmCheckoutError.style.display = 'block';
          
        return false;
      }
      if(paymentCheckbox.checked){
        event.preventDefault();
        Swal.fire({
        text: "Order Placed Successfully",
        icon: "success",
        timer: 1500,
        timerProgressBar: true,
        showConfirmButton: false,
        }).then(() => {
          document.querySelector('form[action="/submit-order"]').submit();
        });
                
      }
  }
  
</script> -->

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const radioButtons = document.querySelectorAll(
      'input[name="address"]'
    );
    const paymentMethods = document.querySelectorAll('input[name="payment"]');
    const placeOrderBtn = document.querySelector("#placeOrderBtn");
    let selectedAddress = null;
    let selectedPayment = null;
    


    radioButtons.forEach((radioButton) => {
      radioButton.addEventListener("change", () => {
        selectedAddress = radioButton.value;
      });
    });

    paymentMethods.forEach((paymentMethod) => {
      paymentMethod.addEventListener("change", () => {
        selectedPayment = paymentMethod.id;
      });
    });

    placeOrderBtn.addEventListener("click", async function (e) {
      e.preventDefault();
      try {

        const totalAmtElement = document.getElementById("totalAmt");
        const totalAmtText = totalAmtElement.textContent.trim();
        const totalAmt = totalAmtText.replace("₹", "");
console.log("totl",totalAmt);

        // const walletElement = document.getElementById("walletBalace");
        // const walletBalance = walletElement.getAttribute("data-balance");
        // console.log("walletBalance", walletBalance);

       if(!selectedAddress){
        alert("please select any address")
        showErrorToast("please select any address");
        return
        }

        if (
          selectedPayment === "COD" ||
          selectedPayment === "wallet"
        ) {
          saveOrderOnCashOnDelivery(totalAmt, selectedPayment, selectedAddress);
        } else if (selectedPayment === "razorpay") {
          initiateRazorPayPayment(totalAmt,selectedPayment, selectedAddress);
          return;
        } else {
          alert("please select any payment method")
          showErrorToast("please select any payment method");
        }
      } catch (error) {
        console.log(error);
        Swal.fire({
          title: "Something went wrong",
          icon: "error",
          showCancelButton: false,
          confirmButtonColor: "#3085d6",
          confirmButtonText: "OK",
        }).then(async (result) => {
          window.location.reload();
        });
      }
    });
  });
</script>

<!-- wallet and cashOnDelivery peyment function -->
<script>
  const saveOrderOnCashOnDelivery = async (
    totalPrice,
    selectedPayment,
    selectedAddress,
    // walletBalance
  ) => {
    if (selectedPayment === "wallet") {
      console.log("here if");
      
      if (Number(walletBalance) < Number(totalPrice)) {

        showErrorToast("Insufficient balance in Wallet");
        return;
      }
    }
    if (totalPrice > 6000 && selectedPayment === "cashOnDelivery") {
      showErrorToast("Order above 6000 should not be allowed for COD");
    } else {
      try {
        const response = await fetch("/submit-order", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            address: selectedAddress,
            payment: selectedPayment,
            totalPrice
          }),
        });
        const data = await response.json();
console.log("oooooorrrrdddder",data);

        if (response.ok) {
          Swal.fire({
            title: "Your order has been created",
            icon: "success",
            showCancelButton: false,
            confirmButtonColor: "#3085d6",
            confirmButtonText: "OK",
          }).then(async (result) => {
            window.location.href = `/order-placed/${data._id}`;
          });
        } else {
          Swal.fire({
            title: `${data.message}`,
            icon: "error",
            showCancelButton: false,
            confirmButtonColor: "#3085d6",
            confirmButtonText: "OK",
          });
        }
      } catch (error) {
        console.log(error);
        Swal.fire({
          title: "Something went wrong",
          icon: "error",
          showCancelButton: false,
          confirmButtonColor: "#3085d6",
          confirmButtonText: "OK",
        }).then(async (result) => {
          window.location.reload();
        });
      }
    }
  };
</script>

<!-- intialising razorpay method -->
<script>
  const initiateRazorPayPayment = async (totalAmt, selectedPayment, selectedAddress) => {

    //getting razor-pay secret key
    const response = await fetch("/razor-key", {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
      },
    });

    const data = await response.json();
console.log("data",data);
console.log("in amt",totalAmt);

    //creating razor pay order
    const razorOrder = await fetch("/razor-order", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ amount: parseInt(totalAmt) }),
    });

    const order = await razorOrder.json();
    console.log("order",order);
    
    //razor pay configurations
    let options = {
      key: data.key,
      amount: parseInt(totalAmt) * 100,
      currency: "INR",
      name: "CALSSY",
      description: "Test Transaction",
      image: `img/fav.png`,
      order_id: order.order.id,
      handler: function (response) {
        saveOrderRazor(response, selectedPayment, selectedAddress, totalAmt);
      },
      prefill: {
        name: "jhone",
        email: "jhone@example.com",
        contact: "9000090000",
      },
      notes: {
        address: "Razor pay Corporate Office",
      },
      theme: {
        color: "#1818c4",
      },
    };

    const razor = new window.Razorpay(options);
    razor.open();


    // If failed toast it.
    razor.on("payment.failed", async function (response) {
    
      try {
        const newOrder = await fetch("/faildOrder", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            addressId: selectedAddress,
            paymentMethod: selectedPayment,
            // couponCode: couponCode,
          }),
        });
        const data = await newOrder.json();
 
//saving payment
const verifyData = await fetch("/razor-verify-failedPayment", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  },
  body: JSON.stringify({
    ...response,
    orderId: data.newOrder.orderId,
  }),
});


if(newOrder.ok){
  Swal.fire({
          title: "Payment failed Order created with payment status Failed",
          icon: "success",
          showCancelButton: false,
          confirmButtonColor: "#3085d6",
          confirmButtonText: "OK",
        }).then(async (result) => {
          window.location.href = `/cart`;
        });
}else{
  showErrorToast("something went wrong try again");
}
      } catch (error) {
        console.log("faild payment error",error);
        showErrorToast("something went wrong");
      }
    });
  };
</script>


<!--Creating razorpay order-->
<script>
  const saveOrderRazor = async (razorResponse, selectedPayment, selectedAddress, totalAmt) => {
    try {
      //saving the order
      const response = await fetch("/submit-order", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          address: selectedAddress,
          payment: selectedPayment,
          totalPrice : parseInt(totalAmt)
        }),
      });

      const data = await response.json();

      //saving payment
      const verifyData = await fetch("/razor-varify", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          ...razorResponse,
        }),
      });

      if (verifyData.ok) {
        Swal.fire({
          title: "Your order has been created",
          icon: "success",
          showCancelButton: false,
          confirmButtonColor: "#3085d6",
          confirmButtonText: "OK",
        }).then(async (result) => {
          window.location.href = `/order-placed/${data._id}`;
        });
      }else{
        showErrorToast("somthing went wrong");
      }

    } catch (error) {
      console.log(error);
      alert("errrrrrrrrrrr")
      showErrorToast(error.response?.data?.error || "something went wrong");
    }
  };
</script>






<!-- Footer Section Begin -->
<%- include('../partials/userFooter') %>
<!-- Footer Section End -->
