<!-- Header Section Begin -->
<!-- Css Styles -->
<link rel="stylesheet" href="/stylesheets/order.css" type="text/css" />
<%- include('../partials/userHeader') %>
<!-- Header Section End -->

<style>
  /* Style for the modal */
  .order-details-modal {
      display: none; /* Hidden by default */
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .order-details-modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 30%;
  }

  .order-details-close-btn {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .order-details-close-btn:hover,
  .order-details-close-btn:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
</style>

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Order Details</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <a href="/profile">Profile</a>
            <span>Order Details</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
  <div class="container mt-3 mt-md-5">
    <h2 class="text-charcoal hidden-sm-down">Your Orders</h2>
    <h5 class="text-charcoal hidden-md-up">Your Orders</h5>
    <div class="row">
      <div class="col-12">
        <div class="list-group mb-5">
          <div class="list-group-item p-3 bg-snow" style="position: relative">
            <div class="row w-100 no-gutters">
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Order Number</h6>
                <a href="" class="text-pebble mb-0 w-100 mb-2 mb-md-0">#<%= String(userOrder._id).slice(0, 7) %></a>
              </div>
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Date</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">
                  <% var date = new Date(userOrder.dateOrdered); var formattedDate = date.getFullYear() + '-' + ('0' + (date.getMonth() + 1)).slice(-2) + '-' + ('0' + date.getDate()).slice(-2); %>
                  <%= formattedDate %>
                </p>
              </div>
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Total</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0">₹<%= userOrder.totalPrice %></p>
              </div>
              <div class="col-6 col-md">
                <h6 class="text-charcoal mb-0 w-100">Shipped To</h6>
                <p class="text-pebble mb-0 w-100 mb-2 mb-md-0"><%= userOrder.billingAddress[0].locality %></p>
              </div>
              <div class="col-12 col-md-3">
                <% if (['Return Requested', 'return request accepted', 'return request rejected','Cancelled','product returned'].includes(userOrder.status)) { %>
                  <p style="font-size: 20px" class="text-danger"><%= userOrder.status %></p>
                <% } else if(userOrder.status === 'Delivered') { %>
                  <div style="width: 80%" class="d-flex flex-row justify-content-between align-items-center">
                    <p class="text-green" style="font-size: 20px; margin: 0">Delivered</p>
                    <a href="" data-orderId="<%= userOrder._id %>" id="orderReturn" class="btn btn-primary w-60">Return Order</a>
                  </div>
                <% } else { %>
                  <a href="" data-orderId="<%= userOrder._id %>" id="orderCancell" class="btn btn-danger w-100">Cancel Order</a>
                <% } %>
              </div>
            </div>
          </div>
          <div class="list-group-item p-3 bg-white">
            <div class="row no-gutters">
              <div class="col-12 d-flex flex-direction-row justify-content-between">
                <div class="col-12 col-md-9 pr-0 pr-md-3">
                  <% if (['Return Requested', 'return request accepted', 'return request rejected','Cancelled','product returned'].includes(userOrder.status)) { %>
                    <div class="alert p-2 alert-danger w-100 mb-0">
                      <p class="text-danger hidden-sm-down mb-0"><%= userOrder.status %></p>
                    </div>
                  <% } else if(userOrder.status === 'Delivered') { %>
                    <div class="alert p-2 alert-success w-100 mb-0">
                      <p class="text-green hidden-sm-down mb-0">Delivered</p>
                    </div>
                  <% } else { %>
                    <div class="alert p-2 alert-success w-100 mb-0">
                      <h6 class="text-green mb-0"><b>Shipped</b></h6>
                      <p class="text-green hidden-sm-down mb-0">
                        <% var date = new Date(userOrder.dateOrdered); function formatDate(d) { return d.getFullYear() + '-' + ('0' + (d.getMonth() + 1)).slice(-2) + '-' + ('0' + d.getDate()).slice(-2); } var deliveryStartDate = new Date(date); deliveryStartDate.setDate(date.getDate() + 10); var deliveryEndDate = new Date(date); deliveryEndDate.setDate(date.getDate() + 17); var formattedStartDate = formatDate(deliveryStartDate); var formattedEndDate = formatDate(deliveryEndDate); %>
                        Est. delivery between <%= formattedStartDate %> and <%= formattedEndDate %>
                      </p>
                    </div>
                  <% } %>
                </div>
                <div class="col-12 col-md-3">
                  <a href="" class="btn btn-secondary w-100 mb-2">Track Shipment</a>
                </div>
              </div>
              <div class="col-8 d-flex flex-column">
                <% userOrder.productItems.forEach(function(product) { %>
                  
                  <div class="row orderDetails no-gutters mt-3">
                    <div class="col-3 col-md-1">
                      <img class="img-fluid pr-3" src="https://tanga2.imgix.net/https%3A%2F%2Fs3.amazonaws.com%2Ftanga-images%2Ffc79d08c12dc.jpeg?ixlib=rails-2.1.1&fit=crop&w=500&h=500&auto=format%2Ccompress&cs=srgb&s=c9a50d474788f2658d13b21aa62edd6c" alt="" />
                    </div>
                    <div class="col-9 col-md-8 pr-0 pr-md-3">
                      <h6 class="text-charcoal mb-2 mb-md-1">
                        <a href="" class="text-charcoal"><%= product.quantity %> x <%= product.name %></a>
                      </h6>
                      <h6 class="text-charcoal text-left mb-0 mb-md-2">
                        <b>₹<%= product.price %></b>
                      </h6>
                    </div>
                    <div class="col-12 col-md-3 hidden-sm-down">
                      
                      <% if (['Return Requested', 'return request accepted', 'return request rejected','Cancelled','product returned'].includes(product.status)) { %>
                        <a href="/product-details/<%= product.productId._id %>" class="btn btn-secondary w-100 mb-2">Buy It Again</a>
                        <p style="font-size: 20px; text-align: center" class="text-danger"><%= product.status %></p>
                        <% } else if(userOrder.status === 'Delivered') { %>
                          <div class="alert w-100 mb-0">
                            <p class="text-green hidden-sm-down mb-0">Delivered</p>
                          </div>
                          <a href="#" data-product-id="<%= product.productId._id %>" class="btn returnThis btn-primary w-100 mb-2">Return</a>
                      <% } else { %>
                        <a href="/product-details/<%= product.productId._id %>" class="btn btn-secondary w-100 mb-2">Buy It Again</a>
                        <a href="" data-product-id="<%= product.productId._id %>" class="btn cancelThis btn-danger w-100 mb-2">Cancel This</a>
                      <% } %>
                    </div>

                    <div id="returnModal" class="order-details-modal">
                      <div class="order-details-modal-content">
                          <span class="order-details-close-btn">&times;</span>
                          <h2>Return Product</h2>
                          <form style="display: flex; flex-direction: column;" id="returnForm">
                              <label for="returnReason">Reason for Return:</label>
                              <textarea id="returnReason" name="returnReason"
                                  class="order-details-textarea" required></textarea>
                              <button type="submit"
                                  class="order-details-return-submit">Submit
                                  Return</button>
                          </form>
                      </div>
                    </div>
                  </div>
                <% }) %>
              </div>


              

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section End -->

<!-- All Order Cancel-->
<script>
  const orderId = document.getElementById("orderCancell").getAttribute("data-orderId");
  document.getElementById("orderCancell").addEventListener("click", function (event) {
    event.preventDefault();
    console.log("order id", orderId);

    Swal.fire({
      title: "Are you sure?",
      text: "You want to cancel this order",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, cancel it!",
    }).then((result) => {
      if (result.isConfirmed) {
        fetch(`/order-cancel/${orderId}`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
        })
        .then((response) => response.json())
        .then((response) => {
          if (response.success) {
            console.log("ivde etheekkk", response.msg);
            Swal.fire({
              position: "center",
              icon: "success",
              title: response.msg,
              showConfirmButton: false,
              timer: 1500,
            });
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          }
        });
      }
    });
  });
</script>

<!-- Order Cancel Individually-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const orderId = document.getElementById("orderCancell").getAttribute("data-orderId");
    document.querySelectorAll(".orderDetails").forEach(function (element) {
      const cancelItem = element.querySelector(".cancelThis");
      const orderItem = element.querySelector(".cancelThis").getAttribute("data-product-id");
      cancelItem.addEventListener("click", function (event) {
        event.preventDefault();
        const Data = new URLSearchParams({
          orderId,
          orderItem,
        });

        Swal.fire({
          title: "Are you sure?",
          text: "You want to cancel this order",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#3085d6",
          cancelButtonColor: "#d33",
          confirmButtonText: "Yes, cancel it!",
        }).then((result) => {
          if (result.isConfirmed) {
            console.log("click cheyythuuu ");
            
            fetch(`/cancel-item?${Data}`, {
              method: "POST",
              headers: { "Content-Type": "application/json" },
            })
            .then((response) => response.json())
            .then((response) => {
              if (response.success) {
                console.log("ivde etheekkk", response.msg);
                Swal.fire({
                  position: "center",
                  icon: "success",
                  title: response.msg,
                  showConfirmButton: false,
                  timer: 1500,
                });
                setTimeout(() => {
                  window.location.reload();
                }, 1000);
              }
            });
          }
        });
      });
    });
  });
</script>

<!-- All Order Return individually-->
<script>
  document.addEventListener("DOMContentLoaded", function () {
  const modal = document.getElementById("returnModal");
  const span = document.getElementsByClassName("order-details-close-btn")[0];
  const form = document.getElementById("returnForm");
  const returnReason = document.getElementById('returnReason');
  const returnProductId = document.getElementById('returnProductId');

  document.querySelectorAll(".returnThis").forEach(function (btn) {
    btn.addEventListener("click", function (event) {
      event.preventDefault();
      returnProductId.value = btn.getAttribute("data-product-id");
      modal.style.display = "block";
    });
  });

  span.onclick = function () {
    modal.style.display = "none";
  }

  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  form.addEventListener("submit", function (event) {
    event.preventDefault();
    const orderId = document.querySelector(".orderDetails").getAttribute("data-order-id"); // Adjust according to your HTML structure
    const productId = returnProductId.value;
    const reason = returnReason.value;

    const data = new URLSearchParams({ orderId, productId, reason });

    Swal.fire({
      title: "Are you sure?",
      text: "You want to return this product",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, return it!",
    }).then((result) => {
      if (result.isConfirmed) {
        fetch(`/Return-item?${data}`, {
          method: "POST",
          headers: { "Content-Type": "application/json" },
        })
        .then((response) => response.json())
        .then((response) => {
          if (response.success) {
            Swal.fire({
              position: "center",
              icon: "success",
              title: response.msg,
              showConfirmButton: false,
              timer: 1500,
            });
            setTimeout(() => {
              window.location.reload();
            }, 1000);
          }
        });
      }
    });
  });
});

</script>
<!-- Footer Section Begin -->
<%- include('../partials/userFooter') %>
<!-- Footer Section End -->
